.row
  .span2
    %div
      = us_to_human(@collection.us)
      \/
      = @archive_messages.first.utc.to_formatted_s(:short)
    %div
      Чат
      = distance_of_time_in_words(@archive_messages.first.utc, @archive_messages.last.utc)

  .span5.offset2= show_map(@collection.get_location)

%div
  - @archive_messages.each do |msg|
    .row
      .span5.offset5.archive_row
        - if msg.dir.eql?(1)
          - icon_class = 'icon-globe'; position = 'left'
        - else
          - icon_class = 'icon-user' ; position = 'right'
        %span.tooltip{'data-toggle' => 'popover',
          'data-html' => 'true',
          'data-content' => auto_link_urls(msg.body),
          'data-title' => icon(icon_class) + ' ' + msg.utc.to_formatted_s(:short),
          'data-placement' => position }

- content_for :javascript do
  $('.tooltip').popover('show')