.well-small
  .row
    .span2
      = @archive_messages.first.utc.to_formatted_s(:short)
    .span2
      %span.label.label-success= us_to_human(@collection.us)
    .span2
      %span.badge= distance_of_time_in_words(@archive_messages.first.utc, @archive_messages.last.utc)

%p{:style => 'margin-top: 30px'}
  - @archive_messages.each do |msg|
    .row
      .span5.offset5.archive_row
        - if msg.dir.eql?(1)
          - icon_class = 'icon-globe'; position = 'left'
        - else
          - icon_class = 'icon-user' ; position = 'right'
        %span.tooltip{'data-toggle' => 'popover',
          'data-html' => 'true',
          'data-content' => msg.body,
          'data-title' => icon(icon_class) + ' ' + msg.utc.to_formatted_s(:short),
          'data-placement' => position }
:css
  .archive_row { height: 100px; border-left: 1px dotted #ccc}
  .archive_row span { margin-top: 30px;}
  .popover {max-width: 450px}
  .popover-title {padding: 0 8px; color: #757575}

- content_for :javascript do
  $('.tooltip').popover('show')