%div
  %strong= t('.new_feedback')

- [:referer, :username, :email, :phone, :message, :user_agent, :remote_ip].each do |column|
  - if @feedback.read_attribute(column).present?
    %div #{SiteFeedback.human_attribute_name(column)}: #{@feedback.read_attribute(column)}

%p{style: 'fornt-size: 0.9em; color: gray'}
  = t('notification.thanx_for_using')
