%h3 New user was created!

%div
  Username: <strong>#{@user.username}</strong>
%div
  Password: <strong>#{@user.password}</strong>

%div
  Please read #{link_to('instalation instruction', users_url)}, if you have aditional questions please contact to support.

%div
  Server: <strong>helperchat.com</strong>
%div
  Port: <strong>5222</strong>