%h3 Новая учетная запись оператора создана!

%div
  Username: <strong>#{@user.username}</strong>
%div
  Password: <strong>#{@user.password}</strong>

%div
  #{link_to('Инструкции по настройке и инсталяци', users_url)}, если у Вас есть дополнительные вопросы свяжитесь с тех поддрежкой.

%div
  Server: <strong>helperchat.com</strong>
%div
  Port: <strong>5222</strong>