= simple_form_for @site_category, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  .row
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), site_categories_path, :class => 'btn'
