.red {
  color: red;
}

.m10 {
  margin: 10px
}

.hover:hover {
  background: #f2f2f2;
}

.round {
  border: 3px;
  -webkit-border-radius: 130px;
  -moz-border-radius: 130px;
  border-radius: 130px;
  border-color: darkgreen;
  border-style: solid;
}

.h250 {
  min-height: 250px;
}