%p
  HelperChat – это <strong>бесплатный consultant online</strong>, который позволяет в реальном времени консультировать посетителей  Вашего сайта.
  При помощи этого сервиса вы сможете в любое время проявлять высокую скорость реагирования на их вопросы и предоставлять надлежащее качество обслуживания.
  В результате живое общение с вашим консультантом окажется намного эффективнее других средств коммуникации.

%h3 Преимущества использования online consultant HelperChat

%p
  Среди основных преимуществ online консультанта на сайт HelperChat выделяют следующие:
  %ul
    %li Быстрая реакция на вопросы клиентов – в одни клик посетитель Вашего сайта сможет получить необходимую информацию и получить быстрый ответ;
    %li Настраиваемый дизайн окна чата – пользование консультантом online подразумевает настройку и адаптацию окна чата под фирменный стиль Вашей страницы;
    %li Увеличение среднего чека – в ходе общения с посетителем через online consultant оператор может предлагать дополнительные товары, тем самым увеличивая сумму заказа.

%p
  Консультант online – необходимый инструмент для любого сайта, который стремится расширить клиентскую базу и поднять уровень продаж.
  Достигнуть этого возможно путём улучшения качества обслуживания. Использование консультанта online позволяет упростить контакт с клиентом, а также сделать его более быстрым и эффективным.

%h3 Как это работает?
%p
  Для появления кнопки consultant online на Вашем сайте необходимо выполнить 3 шага:
  %ol
    %li #{link_to('Зарегистрироваться', '#mySignin', 'data-toggle' => 'modal')} на сайте HelperChat;
    %li Получить готовый код чата;
    %li Установить полученный код на Вашем сайте.

%p
  %div
    %strong В результате – эффект не заставит себя ждать!
  %div Количество контактов потенциальных клиентов Вашего интернет магазина увеличится в несколько раз без дополнительных расходов на рекламу и продвижение.
  %div
    %strong Сегодня используешь HelperChat – завтра продаёшь больше!


%h4 HelperChat – эффективное общение для увеличения продаж!
