- content_for :title do
  Online консультант на сайт - HelperChat

- content_for :description do
  Online консультант для сайта увеличит доверие клиентов и продажи на сайте, а самое главное у нас online консультант абсолютно бесплатный.

%p
  HelperChat – это <strong>online консультант на сайт</strong>, который позволяет в реальном времени консультировать посетителей  Вашего сайта.
  При помощи этого сервиса вы сможете в любое время проявлять высокую скорость реагирования на их вопросы и предоставлять надлежащее качество обслуживания.
  В результате живое общение с вашим консультантом online окажется намного эффективнее других средств коммуникации.

%h1.h3 Преимущества использования online consultant HelperChat

%p
  Преимущества, которыми обладает online консультант для сайта HelperChat:
  %ul
    %li Быстрая реакция на вопросы клиентов – в одни клик посетитель Вашего сайта сможет получить необходимую информацию и получить быстрый ответ;
    %li Настраиваемый дизайн окна чата – пользование online консультантом для сайта подразумевает настройку и адаптацию окна чата под фирменный стиль Вашей страницы;
    %li Увеличение среднего чека – в ходе общения с посетителем через consultant online оператор может предлагать дополнительные товары, тем самым увеличивая сумму заказа.

%p
  Консультант online – необходимый инструмент для любого сайта, который стремится расширить клиентскую базу и поднять уровень продаж.
  Достигнуть этого возможно путём улучшения качества обслуживания. Использование online консультанта на сайт позволяет упростить контакт с клиентом, а также сделать его более быстрым и эффективным.

.h3 Как это работает?
%p
  Для появления кнопки consultant online на Вашем сайте необходимо выполнить 3 шага:
  %ol
    %li #{link_to('Зарегистрироваться', '#mySignin', 'data-toggle' => 'modal')} на сайте HelperChat;
    %li Получить готовый код чата;
    %li Установить полученный код на Вашем сайте.

%p
  %div
    %strong В результате – эффект не заставит себя ждать!
  %div
    Количество контактов потенциальных клиентов Вашего интернет магазина увеличится в несколько раз без дополнительных
    расходов на рекламу и продвижение. HelperChat предоставляет возможность установить online консультант бесплатно!
  %div
    %strong Сегодня используешь HelperChat – завтра продаёшь больше!

.h3 Распределение нагрузки между операторами.
%p Если на вашем аккаунте несколько операторов вы можете выставлять приоритет нагрузки.

%p
  Приоритет выстраивается следующим образом:
  %ol
    %li Сначала операторы, которые в онлайне, за ними будут те, кто в офлайне.
    %li
      Дальше из полученного списка отсортированы по приоритету
      (который вы выставили в административном интерфейсе своего аккаунта).
    %li Потом из этого списка будет выбран оператор, который дольше всех простаивал.

    %div Таким образом, будет осуществляться дифференцированная нагрузка на ваших операторов в зависимости от их состояния.

  В следующих версиях мы предоставим возможность нагружать операторов только по приоритету, учитывая их состояние (онлайн/офлайн).
  Таким образом, вы сможете выставляя приоритеты назначать дежурного ответственного оператора. Все те, кто будет за ним ниже в очереди, получат
  сообщения только в том случае, когда online consultant будет выключен.

.h3 Уведомления
%div На данный момент, когда все операторы выключены, мы можете включить «Форму обратной связи».

%p
  В случае если посетитель сайта ее заполнит «Форму обратной связи» и отправит её, и отправит, вы получите письмо, Вам прийдет дублирующее
  напоминающее сообщение в Джабер агент когда вы его включите.
  Если вы случайно удалили письмо с сообщением, его можно будет прочитать в админ интерфейсе на сайте.

.h3 Дополнительные уведомления
%div
  Если вы хотите больше получить информации о происходящем на своем сайтесайте,сайте, можно интегрироваться с нашими API и делать отсылку сообщений в Джабер.
%div Это удобно когда пользователь помещает товары в корзину или делает заказ.
%div Вам не надо будет всегда заходить на сайт и проверять состояние заказов, вы всегда будете вовремя проинформированы.

.h3 SMS уведомления
%div Если Вас интересует получение этих же уведомлений на телефон, свяжитесь с нами, и мы рассмотрим возможность помочь Вам.


.h4 HelperChat – эффективное общение для увеличения продаж!
