.map
  <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?t=m&amp;q=46.463283,30.711143&amp;dg=opt&amp;ie=UTF8&amp;z=14&amp;ll=46.462846,30.711168&amp;output=embed"></iframe>
.container
  .row
    .span12
      %h4
        = t('.get_in_touch')
        %strong= t('.contact_form_bellow')
      %form#contactform.validateform{:action => "contact", :method => "post", :name => "send-contact"}
        .row
          .span4.field
            %input{"data-msg" => "Please enter at least 4 chars", "data-rule" => "maxlen:4", :name => "name", :placeholder => "* Enter your full name", :type => "text"}/
          .span4.field
            %input{"data-msg" => "Please enter a valid email", "data-rule" => "email", :name => "email", :placeholder => "* Enter your email address", :type => "text"}/
          .span4.field
            %input{"data-msg" => "Please enter at least 4 chars", "data-rule" => "maxlen:4", :name => "subject", :placeholder => "Enter your subject", :type => "text"}/
          .span12.margintop10.field
            %textarea.input-block-level{"data-msg" => "Please write something", "data-rule" => "required", :name => "message", :placeholder => "* Your message here...", :rows => "12"}
            %p
              %button.btn.btn-theme.margintop10.pull-left{:type => "submit"}= t('.send_msg')
              %span.pull-right.margintop20= '* '+ t('.required_all')