- content_for :title do
  HelperChat - онлайн консультант для сайта.

%section#featured
  .container
    / start slider
    / Slider
    #nivo-slider
      .nivo-slider
        / Slide #1 image
        = image_tag('slides/nivo/bg-1.jpg', title: "#caption-1")
        / Slide #2 image
        = image_tag('slides/nivo/bg-2.jpg', title: "#caption-2")
        / Slide #3 image
        = image_tag('slides/nivo/bg-3.jpg', title: "#caption-3")
      .container
        .row
          .span12
            / Slide #1 caption
            #caption-1.nivo-caption
              %div
                %h2
                  %strong
                    Высокая скорость работы
                %p В режиме реального времени Вы получаете возможность доступа и работы с  HelperChat абсолютно с любого мобильного и портативного устройства.
            / Slide #2 caption
            #caption-2.nivo-caption
              %div
                %h2
                  %strong Лёгкость в управлении
                %p Работа с сервисом HelperChat не требует специальных знаний языков программирования.
            / Slide #3 caption
            #caption-3.nivo-caption
              %div
                %h2
                  %strong Бесплатно
                %p Установка и использование онлайн консультанта доступна всем желающим.
    / end slider
%section.callaction
  .container
    .row
      .span12
        .big-cta
          .cta-text
            %h5
              Консультируйте своих клиентов из любой точки мира с любых устройств!
          .cta.floatright
            %a.btn.btn-large.btn-theme.btn-rounded{"data-toggle" => "modal", :href => "#mySignup"} Начать

%section#content
  .container
    .row
      .span12
        .row
          .span3
            .box
              .aligncenter.icon
                %i.icon-shopping-cart.icon-circled.icon-64.active
              .text
                %h6.bold Увеличение заказов
                %p
                  Налаживая прямую консультацию с потенциальным клиентом, Вы увеличиваете процент продуктивных продаж.
                %a{:href => "#"} подробней
          .span3
            .box
              .aligncenter.icon
                %i.icon-desktop.icon-circled.icon-64.active
              .text
                %h6.bold Настраиваемый дизайн
                %p
                  Вы можете настроить  и адаптировать дизайн окна чата под фирменный стиль вашей страницы
                %a{:href => "#"} подробней
          .span3
            .box
              .aligncenter.icon
                %i.icon-signal.icon-circled.icon-64.active
              .text
                %h6.bold Увеличение конверсии
                %p
                  Оператор в ходе общения с клиентом по online консультанту он лайн, может делать дополнительные предложения, увеличивая тем самым сумму заказа.
                %a{:href => "#"} подробней
          .span3
            .box
              .aligncenter.icon
                %i.icon-bullhorn.icon-circled.icon-64.active
              .text
                %h6 Активные приглашения
                %p
                  Не ждите, пока посетители покинут сайт без покупки – первыми приглашайте их вступить в диалог. Благодаря онлайн консультанту для сайта сделать это очень просто!
                %a{:href => "#"} подробней

    %h4 Что необходимо знать об онлайн консультанте для сайта?
    %p Сервис консультант он лайн – это специальная система консультирования клиентов в онлайн режиме, которая позволяет консультировать каждого посетителя на Вашем сайте и в реальном времени вступать с ними в диалог.
    %p <strong>Установка online консультанта HelperChat</strong> – это отличный способ увеличить доходы интернет бизнеса. В этом уже убедились сотни наших клиентов! Практика показала, что оперативные ответы на вопросы посетителей существенно снижают число брошенных корзин и отток с сайта. С другой стороны активные приглашения в диалог при помощи консультанта он лайн, наоборот, увеличивают конверсию в несколько раз.

    .row
      .span12
        .solidline
    / end divider
    .row
      .span12
        %h4 Используйте свой любимый клиент для работы с сервисом
        %ul.clients.squared
          %li
            %img{:alt => "ICQ", :title => "ICQ", :src => asset_path("clients/icq.jpg")}/
          %li
            %img{:alt => "iChat", :title => "iChat", :src => asset_path("clients/iChat.png")}/
          %li
            %img{:alt => "Miranda", :title => "Miranda", :src => asset_path("clients/miranda.png")}/
          %li
            %img{:alt => "QIP", :title => "QIP", :src => asset_path("clients/qip.jpg")}/
          %li
            %img{:alt => "XMPP", :title => "XMPP", :src => asset_path("clients/xmpp.png")}/
          %li
            %img{:alt => "Pidgin", :title => "Pidgin", :src => asset_path("clients/pidgin.png")}/
          %li
            %img{:alt => "Audium", :title => "Audium", :src => asset_path("clients/adium.jpg")}/
          %li
            %img{:alt => "Gaim", :title => "Gaim", :src => asset_path("clients/gaim.png")}/
          %li
            %img{:alt => "Kepete", :title => "Kepete", :src => asset_path("clients/kopete.png")}/
          %li
            %img{:alt => "Psi", :title => "Psi", :src => asset_path("clients/psi.jpg")}/

    / divider
    .row
      .span12
        .solidline
    / end divider
    .row
      .span12
        %h5
          <strong>HelperChat</strong> – это передовой инструмент для увеличения продаж и поддержки современной компании.
          Если Вам необходим онлайн консультант на сайте – #{link_to('регистрируйтесь', '#mySignin', 'data-toggle' => 'modal')}
          – и получайте лучшего помощника для Вашего бизнеса!
        %h3.text-center <strong>HelperChat</strong> - Просто, удобно, быстро!
    .row
      .span12
        .solidline
    / end divider
    .row
      .span12
        %h4
          Счастливые
          %strong клиенты
        %ul#mycarousel.jcarousel-skin-tango.recent-jcarousel.clients
          %li
            %a{:href => "#"}
              %img.client-logo{:alt => "", :src => asset_path("dummies/clients/client1.png")}/
          %li
            %a{:href => "#"}
              %img.client-logo{:alt => "", :src => asset_path("dummies/clients/client2.png")}/
          %li
            %a{:href => "#"}
              %img.client-logo{:alt => "", :src => asset_path("dummies/clients/client3.png")}/
          %li
            %a{:href => "#"}
              %img.client-logo{:alt => "", :src => asset_path("dummies/clients/client4.png")}/
          %li
            %a{:href => "#"}
              %img.client-logo{:alt => "", :src => asset_path("dummies/clients/client5.png")}/
          %li
            %a{:href => "#"}
              %img.client-logo{:alt => "", :src => asset_path("dummies/clients/client6.png")}/
          %li
            %a{:href => "#"}
              %img.client-logo{:alt => "", :src => asset_path("dummies/clients/client1.png")}/
          %li
            %a{:href => "#"}
              %img.client-logo{:alt => "", :src => asset_path("dummies/clients/client2.png")}/
          %li
            %a{:href => "#"}
              %img.client-logo{:alt => "", :src => asset_path("dummies/clients/client3.png")}/
          %li
            %a{:href => "#"}
              %img.client-logo{:alt => "", :src => asset_path("dummies/clients/client4.png")}/

%section
  .container
    %h3 Консультант онлайн на сайт
    %div Онлайн консультант на сайт – простое решение для активного увеличения продаж! Установите онлайн консультант для сайта и вы получите отличную возможность мгновенно общаться с посетителями, поднимать уровень продаж и создавать качественный сервис обслуживания.
    %div Online консультант онлайн – это самый простой и эффективный способ улучшить работу Вашего сайта!

    %ul
      %li
        %em Высокая скорость работы
      %li
        %em Лучший функционал
      %li
        %em Абсолютно бесплатно!

    %div Онлайн консультант увеличивает конверсию Вашего сайта, что обеспечивает постоянный рост продаж без дополнительных вложений в продвижение и рекламу! Требуется онлайн консультант – HelperChat готов предоставить Вам всё необходимое!
    %br/