.jumbotron
  %h1 Join Us
  %p Increase your conversion.
  %p It is free first month.
  %p Not required payments, no fee, or hidden tax, all simple.
  %p= link_to('Sign Up', signup_path, class: 'btn btn-success btn-lg')
