:javascript
  setTimeout("window.location.href='/';",4000);

%section#content
  .container
    .row
      .span12
        %h2.aligncenter Добро пожаловать на страницу 404!
        %p.aligncenter Вы находитесь здесь, потому что ввели адрес страницы, которая уже не существует или была перемещена по другому адресу.