%h2 Price
.row
  .span4
    .pricing-box-alt
      .pricing-heading
        %h3
          Special
          %strong Choice
      .pricing-terms
        %h6 00.00 / Month
      .pricing-content
        %ul
          %li
            %i.icon-ok
            1 operator
          %li
            %i.icon-ok
            10 online clients
          %li
            %i.icon-ok
            24x7 support available
          %li
            %i.icon-ok
            No hidden fees
          %li
            %i.icon-ok
            Free first year
          %li
            %i.icon-ok
            Stop anytime easily
      .pricing-action
        %a.btn.btn-medium.btn-theme{ :'data-toggle' => "modal",  :href => "#mySignup"}
          %i.icon-bolt
          Register now
  .span4
    .pricing-box-alt.special
      .pricing-heading
        %h3
          Special
          %strong Choice
      .pricing-terms
        %h6 15.00 / Month
      .pricing-content
        %ul
          %li
            %i.icon-ok
            2 operator
          %li
            %i.icon-ok
            20 online clients
          %li
            %i.icon-ok
            24x7 support available
          %li
            %i.icon-ok
            No hidden fees
          %li
            %i.icon-ok
            Operator avatars
          %li
            %i.icon-ok
            Stop anytime easily
      .pricing-action
        %a.btn.btn-medium.btn-theme{ :'data-toggle' => "modal",  :href => "#mySignup"}
          %i.icon-bolt
          Register now
  .span4
    .pricing-box-alt
      .pricing-heading
        %h3
          Special
          %strong Choice
      .pricing-terms
        %h6 28.00 / Month
      .pricing-content
        %ul
          %li
            %i.icon-ok
            5 operator
          %li
            %i.icon-ok
            10 online clients
          %li
            %i.icon-ok
            24x7 support available
          %li
            %i.icon-ok
            No hidden fees
          %li
            %i.icon-ok
            Free first year
          %li
            %i.icon-ok
            Stop anytime easily
      .pricing-action
        %a.btn.btn-medium.btn-theme{ :'data-toggle' => "modal",  :href => "#mySignup"}
          %i.icon-bolt
          Register now
