- content_for :title do
  Helperchat лучший онлайн консультант
- content_for :description do
  Установив на сайт лучший онлайн консультант, скрипт Helperchat, Вы увеличите конверсию вашего интернет магазина, сможете давать консультации онлайн.

.h3 Больше общения! Больше клиентов! Больше продаж!
%p HelperChat – эффективный способ общения с клиентами! Установив оналйн консультант на сайте, вы сможете информировать клиентов, поднимать продажи и создавать качественный уровень обслуживания!
%p
  HelperChat (он лайн консультант интернет версия) призван обеспечить доходы компании за счёт консультирования клиентов в режиме реального времени.
  Оперативные ответы на их вопросы помогут удержать покупателей на сайте и подтолкнуть их к покупке.
  Более того, постоянная доступность (публичность, открытость) сотрудников компании способна укрепить доверие к вашему бизнесу.
.h4 Онлайн консультант на сайт – рост продаж без дополнительных вложений в рекламу!
%p
  При установке онлайн консультанта на сайте, вы получаете простой и удобный чат, который обладает следующие особенностями:
  %ul
    %li
      %em Внешне чат похож на окна обмена сообщения в популярных социальных сетях, что позволит ещё больше расположить посетителей к общению;
    %li
      %em Окно чата в режиме общения всегда остаётся поверх Вашего сайта, что позволяет сотруднику общаться и одновременно просматривать сайт;
    %li
      %em При установке он лайн консультанта интернет версии вы можете изменить цвет и параметры оформления чата, чтобы он максимально соответствовал Вашему сайту.

.h4 Грамотные активные приглашения – для больших продаж!
%p
  В работе он лайн консультанта интернет версии активным предложениям отведена особенная роль. Они способны как привлечь внимание посетителей, так и оттолкнуть их.
  Для увеличения продаж активные приглашения необходимо настроить таким образом, чтобы они не вызывали раздражение у посетителей. Это позволит без дополнительных вложений в рекламу увеличить количество потенциальных клиентов. Активные приглашения увеличивают конверсию!
.h4 HelperChat – Ваш бизнес может работать лучше!
%p
  Помните, что онлайн консультант сайта — это не просто возможность консультировать  посетителей! Это полноценный бизнес-процесс, который при правильных способен увеличить Ваши онлайн-продажи.
  HelperChat – это  специальное приложение для операторов Вашего сайта, с помощью которого они смогут быстро отвечать на запросы клиентов, при минимальных отвлечениях от повседневных обязанностей!
.h4 HelperChat – бесплатный онлайн консультант для Вашего сайта!
