@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/ab_groups\.scss}line{font-family:\000035}}
form#ab_group .block {
  margin: 0 0 4.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/ab_groups\.scss}line{font-family:\000037}}
form#ab_group .preview img {
  max-height: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/ab_groups\.scss}line{font-family:\000039}}
form#ab_group .collection_fields {
  margin: 0 0 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/ab_groups\.scss}line{font-family:\0000313}}
form#ab_group .collection_fields .clonableFields_add,
form#ab_group .collection_fields .clonableFields_remove {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/ab_groups\.scss}line{font-family:\0000316}}
form#ab_group .collection_fields .clonableFields_on .clonableFields_remove {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/ab_groups\.scss}line{font-family:\0000321}}
form#ab_group .collection_fields .clonableFields_on .clonableFields_add,
form#ab_group .collection_fields .clonableFields_on .clonableFields_several .clonableFields_remove {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/ab_groups\.scss}line{font-family:\0000326}}
form#ab_group .collection_fields .collection_element {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/ab_groups\.scss}line{font-family:\0000364}}
form#ab_group .buttons .save_and_close {
  float: left;
  margin-right: 1em;
}
