@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/accounts\.scss}line{font-family:\000035}}
#content #account_edit .oauth p, #content #account_edit .oauth .tokens, #content #account_edit .oauth form {
  margin: 0 0 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/accounts\.scss}line{font-family:\000037}}
#content #account_edit .oauth form button {
  font-size: .875em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/accounts\.scss}line{font-family:\000039}}
#content #account_edit .oauth dl {
  font-size: .75em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/accounts\.scss}line{font-family:\0000312}}
#content #account_edit .oauth dl dt, #content #account_edit .oauth dl dd {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/accounts\.scss}line{font-family:\0000314}}
#content #account_edit .oauth dl dt {
  font-weight: bold;
  width: 8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/accounts\.scss}line{font-family:\0000322}}
#content #account_edit .billing p {
  margin: 0 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/accounts\.scss}line{font-family:\0000326}}
#content #account_edit .tariffs h4 {
  text-align: center;
}
