@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/audits\.scss}line{font-family:\000036}}
#audits .timestamp,
#audits .target,
#audits .account {
  display: block;
  float: left;
  font-size: .8125em;
  width: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/audits\.scss}line{font-family:\0000313}}
#audits .target {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/audits\.scss}line{font-family:\0000319}}
#audits .changes {
  display: block;
  font-size: .8125em;
  margin-left: 370px;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/audits\.scss}line{font-family:\0000325}}
#audits .changes table {
  font-size: .8125em;
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/audits\.scss}line{font-family:\0000330}}
#audits .changes table td {
  padding: .2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/audits\.scss}line{font-family:\0000331}}
#audits .changes table td.column {
  font-weight: bold;
  width: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/audits\.scss}line{font-family:\0000334}}
#audits .changes table td.column:after {
  content: ':';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/audits\.scss}line{font-family:\0000337}}
#audits .changes table .from {
  color: #777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/audits\.scss}line{font-family:\0000338}}
#audits .changes table .arrow {
  color: #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/audits\.scss}line{font-family:\0000340}}
#audits .changes table .from, #audits .changes table .to {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
