@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/buttons\.scss}line{font-family:\000033}}
button.clear {
  margin: 0;
  padding: 0;
  background: transparent;
  width: auto;
  height: auto;
  border: 0;
  font-size: 1em;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline;
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/buttons\.scss}line{font-family:\0000312}}
.button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1.2em;
  padding: .4em .88em;
  border: 1px solid #dadada;
  color: #333333;
  background: #e7e7e7;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #dadada));
  background: -webkit-linear-gradient(top, #f4f4f4, #dadada);
  background: -moz-linear-gradient(top, #f4f4f4, #dadada);
  background: -o-linear-gradient(top, #f4f4f4, #dadada);
  background: linear-gradient(top, #f4f4f4, #dadada);
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  -ms-border-radius: 0.35em;
  -o-border-radius: 0.35em;
  border-radius: 0.35em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.37);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000321}}
.button:hover, .button:focus {
  color: #333333;
  border: 1px solid #cecece;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000326}}
.button:active {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  color: #404040;
  border: 1px solid #b4b4b4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000333}}
.button.disabled:hover, .button.disabled:active, .button.disabled {
  background: #eee;
  color: #ccc;
  border-color: #ddd;
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/buttons\.scss}line{font-family:\0000316}}
.green_button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1.2em;
  padding: .4em .88em;
  border: 1px solid #71bb53;
  color: white;
  background: #80c265;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fc977), color-stop(100%, #71bb53));
  background: -webkit-linear-gradient(top, #8fc977, #71bb53);
  background: -moz-linear-gradient(top, #8fc977, #71bb53);
  background: -o-linear-gradient(top, #8fc977, #71bb53);
  background: linear-gradient(top, #8fc977, #71bb53);
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  -ms-border-radius: 0.35em;
  -o-border-radius: 0.35em;
  border-radius: 0.35em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.37);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
  text-shadow: 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000321}}
.green_button:hover, .green_button:focus {
  color: white;
  border: 1px solid #64af45;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000326}}
.green_button:active {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  color: white;
  border: 1px solid #4f8a37;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000333}}
.green_button.disabled:hover, .green_button.disabled:active, .green_button.disabled {
  background: #eee;
  color: #ccc;
  border-color: #ddd;
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/buttons\.scss}line{font-family:\0000321}}
.blue_button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1.2em;
  padding: .4em .88em;
  border: 1px solid #5c8acf;
  color: white;
  background: #6f98d5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #83a6da), color-stop(100%, #5c8acf));
  background: -webkit-linear-gradient(top, #83a6da, #5c8acf);
  background: -moz-linear-gradient(top, #83a6da, #5c8acf);
  background: -o-linear-gradient(top, #83a6da, #5c8acf);
  background: linear-gradient(top, #83a6da, #5c8acf);
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  -ms-border-radius: 0.35em;
  -o-border-radius: 0.35em;
  border-radius: 0.35em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.37);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
  text-shadow: 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000321}}
.blue_button:hover, .blue_button:focus {
  color: white;
  border: 1px solid #487cc9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000326}}
.blue_button:active {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  color: white;
  border: 1px solid #3363ab;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000333}}
.blue_button.disabled:hover, .blue_button.disabled:active, .blue_button.disabled {
  background: #eee;
  color: #ccc;
  border-color: #ddd;
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/buttons\.scss}line{font-family:\0000326}}
.red_button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1.2em;
  padding: .4em .88em;
  border: 1px solid #d94040;
  color: white;
  background: #dd5555;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e16a6a), color-stop(100%, #d94040));
  background: -webkit-linear-gradient(top, #e16a6a, #d94040);
  background: -moz-linear-gradient(top, #e16a6a, #d94040);
  background: -o-linear-gradient(top, #e16a6a, #d94040);
  background: linear-gradient(top, #e16a6a, #d94040);
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  -ms-border-radius: 0.35em;
  -o-border-radius: 0.35em;
  border-radius: 0.35em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.37);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
  text-shadow: 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000321}}
.red_button:hover, .red_button:focus {
  color: white;
  border: 1px solid #d52a2a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000326}}
.red_button:active {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  color: white;
  border: 1px solid #aa2222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000333}}
.red_button.disabled:hover, .red_button.disabled:active, .red_button.disabled {
  background: #eee;
  color: #ccc;
  border-color: #ddd;
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/buttons\.scss}line{font-family:\0000331}}
.pressed_button, .button.liked {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1.2em;
  padding: .4em .88em;
  border: 1px solid #ff33cc;
  color: white;
  background: #ff4cd2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff66d8), color-stop(100%, #ff33cc));
  background: -webkit-linear-gradient(top, #ff66d8, #ff33cc);
  background: -moz-linear-gradient(top, #ff66d8, #ff33cc);
  background: -o-linear-gradient(top, #ff66d8, #ff33cc);
  background: linear-gradient(top, #ff66d8, #ff33cc);
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  -ms-border-radius: 0.35em;
  -o-border-radius: 0.35em;
  border-radius: 0.35em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.37);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(255, 255, 255, 0.7) inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000321}}
.pressed_button:hover, .pressed_button:focus, .button.liked:hover, .button.liked:focus {
  color: white;
  border: 1px solid #ff19c5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000326}}
.pressed_button:active, .button.liked:active {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.7) inset;
  color: white;
  border: 1px solid #e500ab;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/button\.scss}line{font-family:\0000333}}
.pressed_button.disabled:hover, .pressed_button.disabled:active, .pressed_button.disabled, .button.liked.disabled:hover, .button.liked.disabled:active, .button.liked.disabled {
  background: #eee;
  color: #ccc;
  border-color: #ddd;
  cursor: default;
}
