@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\000035}}
form#campaign .block {
  margin: 0 0 4.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\000037}}
form#campaign .file img {
  max-height: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\000039}}
form#campaign .use_item_image {
  margin: .5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000312}}
form#campaign .conditions .item_condition, form#campaign .conditions .price_condition {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000315}}
form#campaign .conditions .item_opened .item_condition,
form#campaign .conditions .price_opened .price_condition {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000317}}
form#campaign .conditions .item_condition textarea {
  font-size: .8125em;
  height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000322}}
form#campaign .conditions .item_condition textarea {
  max-height: 20em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000328}}
form#campaign .lineblock .input {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-right: 1.5em;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000334}}
form#campaign .lineblock .sum {
  padding-top: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000337}}
form#campaign .lineblock .sum label.label {
  display: inline;
  margin-right: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000340}}
form#campaign .lineblock .sum label.label:after {
  content: ':';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000346}}
form#campaign .lineblock .suffix {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000351}}
form#campaign .rewards .suffix .currency, form#campaign .rewards .suffix .percent {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000352}}
form#campaign .rewards .suffix.currency .currency {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000353}}
form#campaign .rewards .suffix.percent .percent {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000357}}
form#campaign #publisher_coupon {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000360}}
form#campaign #publisher_coupon.abra.cadabra, form#campaign #publisher_coupon.abra.cada.bra {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000362}}
form#campaign #publisher_coupon .publisher_coupons {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000363}}
form#campaign #publisher_coupon .publisher_coupons > .input, form#campaign #publisher_coupon .publisher_coupons .or {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000366}}
form#campaign #publisher_coupon .publisher_coupons .or {
  margin-right: 2em;
  color: #777;
  font-size: .875em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000372}}
form#campaign #publisher_coupon .publisher_coupons .short {
  width: 10em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000378}}
form#campaign #publisher_coupon.open .publisher_coupons, html.no-js form#campaign #publisher_coupon .publisher_coupons {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000385}}
form#campaign #friend_coupon .coupon_key {
  display: none;
  min-height: 4em;
  line-height: 4em;
  padding-bottom: .7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000392}}
form#campaign #friend_coupon .coupon_key .input {
  line-height: 1.5em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000398}}
form#campaign #friend_coupon .coupon_key .input label {
  position: absolute;
  top: -1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\0000399}}
form#campaign #friend_coupon .coupon_key .input .error {
  position: absolute;
  top: 100%;
  line-height: 1.2em;
  width: 16em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003100}}
form#campaign #friend_coupon .coupon_key .input input {
  width: 7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003108}}
form#campaign #friend_coupon .code_options .coupon_code,
form#campaign #friend_coupon .code_options .coupon_list {
  width: auto;
  margin-right: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003112}}
form#campaign #friend_coupon .code_options .coupon_code input, form#campaign #friend_coupon .code_options .coupon_code select,
form#campaign #friend_coupon .code_options .coupon_list input,
form#campaign #friend_coupon .code_options .coupon_list select {
  width: 10em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003115}}
form#campaign #friend_coupon .code_options .or {
  margin-right: 2em;
  color: #777;
  font-size: .875em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003123}}
form#campaign #friend_coupon .coupon_code_error {
  margin-top: -1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003126}}
form#campaign #friend_coupon.in_url .coupon_key {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003133}}
form#campaign #friend_coupon .code_options .or,
form#campaign #friend_coupon .code_options .coupon_list {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003177}}
form#campaign .limits .unlimited .publisher_reward_limit, form#campaign .limits .once .publisher_reward_limit {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003182}}
form#campaign .budget .budget_input_block {
  display: none;
  margin-right: -152px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003188}}
form#campaign .budget.open .budget_input_block {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003192}}
form#campaign .calculator {
  display: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003197}}
form#campaign .calculator .part {
  color: #444;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  text-align: center;
  position: relative;
  margin: 0 1em;
  min-width: 4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003206}}
form#campaign .calculator .part .tip {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 10em;
  margin-left: -5em;
  display: block;
  font-size: .8125em;
  text-transform: lowercase;
  line-height: 1.2em;
  color: #777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003220}}
form#campaign .calculator .equal {
  margin: 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003221}}
form#campaign .calculator .multiply {
  margin: 0 -1em 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003225}}
form#campaign .agreement textarea {
  font-size: .8125em;
  height: 6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/campaigns\.scss}line{font-family:\00003229}}
form#campaign .buttons .save_and_close {
  float: left;
  margin-right: 1em;
}
