@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\000034}}
body.wide #content, #content {
  padding-bottom: 4.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\000038}}
#content .block {
  margin: 0 0 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000310}}
#content h2, #content h4, #content h5 {
  font-weight: normal;
  margin: 0 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000314}}
#content h2 .button, #content h2 .green_button, #content h4 .button, #content h4 .green_button, #content h5 .button, #content h5 .green_button {
  font-size: .5em;
  margin-left: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000319}}
#content h2 .small, #content h4 .small, #content h5 .small {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: .5em;
  margin-left: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000325}}
#content h2 .sub, #content h4 .sub, #content h5 .sub {
  line-height: 1.5em;
  color: #777;
  margin: .5em 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000328}}
#content h2 {
  font-size: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000331}}
#content h2 .sub {
  font-size: .54em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000334}}
#content h4 {
  font-size: 1.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000336}}
#content h4 .button {
  font-size: .625em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000339}}
#content h5 {
  font-size: 1.3em;
  margin: 0 0 .7em;
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000349}}
#content h6 {
  font-size: 1.1em;
  margin: 1em 0 .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000354}}
#content .to_left_column {
  position: relative;
  height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000358}}
#content .to_left_column .to_left_column_inner {
  position: absolute;
  left: -168px;
  width: 152px;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000366}}
#content .narrow {
  margin: 0 152px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000370}}
#content .hint {
  color: #666;
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000374}}
#content .hint ul {
  list-style: disc;
  padding-left: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000378}}
#content .hint ul li {
  margin: 0 0 .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000384}}
#content .empty_message {
  padding: 3em 0;
  line-height: 1.4em;
  text-align: center;
  font-size: 1.5em;
  color: #777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\0000392}}
#content .notice {
  background: #ffc;
  padding: .5em;
  margin: 1em -.5em;
  color: #444;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\00003100}}
.beta_access {
  background: #ffe;
  border: 1px dashed #a09f5c;
  padding: .5em .5em .5em;
  margin: 0 -.5em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\00003106}}
.beta_access .input:last-child {
  margin-bottom: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/content\.scss}line{font-family:\00003108}}
.beta_access:before {
  content: 'Только для администраторов';
  font-style: italic;
  display: block;
  font-size: .875em;
  margin: 0 0 .5em;
}
