@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/coupon_codes\.scss}line{font-family:\000035}}
#coupon_lists .table .r {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/coupon_codes\.scss}line{font-family:\000037}}
#coupon_lists .table a.r {
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/coupon_codes\.scss}line{font-family:\0000310}}
#coupon_lists .table a.r:hover {
  background: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/coupon_codes\.scss}line{font-family:\0000313}}
#coupon_lists .table a.r:hover .title {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/coupon_codes\.scss}line{font-family:\0000317}}
#coupon_lists .table .title {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/coupon_codes\.scss}line{font-family:\0000318}}
#coupon_lists .table .count {
  float: right;
  width: 110px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/coupon_codes\.scss}line{font-family:\0000324}}
#coupon_list_form .items_list .col {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 18%;
  padding-right: 2%;
  font-size: .75em;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/coupon_codes\.scss}line{font-family:\0000331}}
#coupon_list_form .items_list .col .code {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/coupon_codes\.scss}line{font-family:\0000336}}
#coupon_list_form .items_list .col .code.used {
  color: #aaa;
  text-decoration: line-through;
}
