@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/datepicker\.scss}line{font-family:\000033}}
.ui-datepicker {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: #fff;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
  padding: 12px 8px;
  width: 234px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/datepicker\.scss}line{font-family:\0000312}}
.ui-datepicker .ui-datepicker-header {
  text-align: center;
  line-height: 1.9em;
  padding: 0 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/datepicker\.scss}line{font-family:\0000318}}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  float: left;
  color: #777;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/datepicker\.scss}line{font-family:\0000325}}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover {
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/datepicker\.scss}line{font-family:\0000328}}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/datepicker\.scss}line{font-family:\0000331}}
.ui-datepicker .ui-datepicker-calendar {
  width: 100%;
  font-size: .875em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/datepicker\.scss}line{font-family:\0000335}}
.ui-datepicker .ui-datepicker-calendar th, .ui-datepicker .ui-datepicker-calendar td, .ui-datepicker .ui-datepicker-calendar a {
  width: 14%;
  text-align: center;
  height: 2em;
  line-height: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/datepicker\.scss}line{font-family:\0000337}}
.ui-datepicker .ui-datepicker-calendar, .ui-datepicker .ui-datepicker-calendar a {
  color: #222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/datepicker\.scss}line{font-family:\0000338}}
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-other-month a {
  color: #aaa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/datepicker\.scss}line{font-family:\0000340}}
.ui-datepicker .ui-datepicker-calendar a {
  display: block;
  border: 0;
  text-align: center;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/datepicker\.scss}line{font-family:\0000346}}
.ui-datepicker .ui-datepicker-calendar a.ui-state-active, .ui-datepicker .ui-datepicker-calendar a:hover {
  background: #eee;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/datepicker\.scss}line{font-family:\0000352}}
.ui-datepicker .ui-datepicker-calendar a.ui-state-highlight {
  color: #5ca03b;
}
