@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/footer\.scss}line{font-family:\000033}}
#footer {
  background: #333333 url(/assets/footer_bg.jpg) 50% 50% repeat-x;
  font-family: 'Verdana';
  font-size: 16px;
  -webkit-box-shadow: inset 0 15px 20px -15px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 15px 20px -15px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 15px 20px -15px rgba(0, 0, 0, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/footer\.scss}line{font-family:\000036}}
#footer, #footer a {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/footer\.scss}line{font-family:\0000311}}
#footer .inner {
  padding: 32px 0;
  overflow: hidden;
  height: 178px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/footer\.scss}line{font-family:\0000316}}
#footer .inner .columns {
  margin-left: -16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/footer\.scss}line{font-family:\0000320}}
#footer .inner .column {
  margin-left: 16px;
  width: 212px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  padding-top: 2.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/footer\.scss}line{font-family:\0000327}}
#footer .inner .column h6 {
  margin-top: -3em;
  line-height: 1.5em;
  margin-bottom: 1em;
  font-size: .875em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/footer\.scss}line{font-family:\0000333}}
#footer .inner .column h6 a {
  font-size: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/footer\.scss}line{font-family:\0000336}}
#footer .inner .column .row {
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/footer\.scss}line{font-family:\0000340}}
#footer .inner .column a {
  font-size: .8125em;
  color: #ccc;
  border-bottom: 1px solid #444;
  -webkit-transition: color, border-color 150ms linear;
  -moz-transition: color, border-color 150ms linear;
  -o-transition: color, border-color 150ms linear;
  transition: color, border-color 150ms linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/footer\.scss}line{font-family:\0000347}}
#footer .inner .column a:hover {
  color: #fff;
  border-bottom: 1px solid #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/footer\.scss}line{font-family:\0000355}}
#footer .inner .social .facebook {
  margin: 0 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/footer\.scss}line{font-family:\0000356}}
#footer .inner .social .twitter {
  margin: 10px 0 0 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/footer\.scss}line{font-family:\0000357}}
#footer .inner .social h6 {
  margin-left: 9px;
}
