@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\000037}}
#site_inactive {
  background: #ff7;
  padding: .5em 0;
  font-size: .9375em;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000314}}
#header {
  margin: 0 0 3em;
  background: url(/assets/header_bg.jpg) 0 0 repeat-x;
  font-family: Verdana;
  height: 88px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000321}}
#header h1 {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 88px;
  background: url(/assets/header_logo.png) 0 50% no-repeat;
  text-indent: 1000px;
  white-space: nowrap;
  overflow: hidden;
  width: 152px;
  margin-left: -152px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000331}}
#header h1 a {
  color: #000;
  text-decoration: none;
  border-bottom: 0;
  display: block;
  height: 88px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000338}}
#header h1 a:hover {
  color: #5ca03b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000339}}
#header h1 a:active {
  color: #518d34;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000343}}
#header .menu {
  line-height: 1.8em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 0;
  padding-top: 21px;
  white-space: nowrap;
  width: 400px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000351}}
#header .menu .item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  z-index: 2;
  line-height: 1.3em;
  vertical-align: top;
  padding-bottom: 5px;
  padding-right: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000360}}
#header .menu .item a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #fff;
  border: 0;
  overflow: hidden;
  padding-right: 22px;
  font-size: .875em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000368}}
#header .menu .item a .left, #header .menu .item a .right {
  display: block;
  height: 41px;
  line-height: 41px;
  background: url(/assets/header_item_bg.png) 0 -1000px no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000375}}
#header .menu .item a .left {
  padding-left: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000379}}
#header .menu .item a .right {
  float: right;
  width: 22px;
  margin-right: -22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000385}}
#header .menu .item a .underline {
  border-bottom: 1px solid #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000388}}
#header .menu .item:hover a, #header .menu .item a.active {
  text-shadow: 0 2px 1px #22521b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000391}}
#header .menu .item:hover a .underline, #header .menu .item a.active .underline {
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000393}}
#header .menu .item:hover a .left, #header .menu .item a.active .left {
  background-position: 0 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000394}}
#header .menu .item:hover a .right, #header .menu .item a.active .right {
  background-position: 100% 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\0000397}}
#header .menu .item .dropdown {
  display: none;
  position: absolute;
  background: url(/assets/semiblack.png);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  top: 100%;
  left: 50%;
  right: 0;
  width: 200px;
  margin-left: -108px;
  padding: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003108}}
#header .menu .item .dropdown a {
  display: block;
  padding: .5em 1em;
  margin: 0;
  white-space: nowrap;
  color: #ccc;
  border: 0;
  font-size: .8125em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003120}}
#header .menu .item .dropdown a span {
  border-bottom: 1px solid #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003122}}
#header .menu .item .dropdown a, #header .menu .item .dropdown a span {
  -webkit-transition: color, border-color 150ms linear;
  -moz-transition: color, border-color 150ms linear;
  -o-transition: color, border-color 150ms linear;
  transition: color, border-color 150ms linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003125}}
#header .menu .item .dropdown .first a, #header .menu .item .dropdown a:hover, #header .menu .item .dropdown a.active {
  color: #fff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003129}}
#header .menu .item .dropdown .first a span, #header .menu .item .dropdown a:hover span, #header .menu .item .dropdown a.active span {
  border-bottom: 1px solid #aaa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003133}}
#header .menu .item .dropdown .first a span, #header .menu .item .dropdown a.active span {
  border-bottom: 1px solid #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003136}}
#header .menu .item .dropdown .first {
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid #555;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003143}}
#header .menu .item:hover {
  z-index: 50;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003144}}
#header .menu .item:hover .dropdown {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003147}}
#header .menu .item.javascripted:hover .dropdown {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003150}}
#header .menu .site_name a.main .left {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003157}}
#header .menu .signin_button {
  margin-left: .5em;
  margin-right: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003161}}
#header .menu .signin_button a {
  font-size: .8125em;
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003165}}
#header .menu .signin_button a .left, #header .menu .signin_button a .right {
  background: none;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003166}}
#header .menu .signin_button a .right {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003168}}
#header .menu .signin_button a .underline {
  border-bottom: 1px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003171}}
#header .menu .signin_button:hover a, #header .menu .signin_button a.active {
  text-shadow: 0px 0px 1px #aaaaaa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003174}}
#header .menu .signin_button:hover a .underline, #header .menu .signin_button a.active .underline {
  border-bottom: 1px solid #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003179}}
#header .menu .signup_button a {
  border: 0;
  padding: 0;
  margin: 0;
  width: 148px;
  height: 41px;
  background: url(/assets/header_register_button.png) 50% 50% no-repeat;
  white-space: nowrap;
  text-indent: 1000px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003191}}
#header .menu .left_menu {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003192}}
#header .menu .right_menu {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003195}}
#header .usermenu {
  float: right;
  margin-right: -152px;
  width: 136px;
  overflow: hidden;
  font-size: .875em;
  padding-top: 9px;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003204}}
#header .usermenu a {
  color: #fff;
  border-bottom: 1px solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003209}}
#header .usermenu .username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: .3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003214}}
#header .usermenu .username a {
  color: #Fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003217}}
#header .usermenu .hello {
  font-size: .875em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003218}}
#header .usermenu .links {
  font-size: .875em;
  text-transform: lowercase;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003223}}
#header .usermenu .links a {
  color: #ddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003227}}
#header .beta_ribbon {
  width: 64px;
  height: 53px;
  background: url(/assets/beta_ribbon.png) 50% 50% no-repeat;
  position: absolute;
  top: 0;
  left: 18px;
}
@media only screen and (max-width: 1046px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003227}}
  #header .beta_ribbon {
    display: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/header\.scss}line{font-family:\00003237}}
#header.guest_header .menu {
  display: block;
  width: auto;
  margin-right: -152px;
}
