@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/mini_colors\.scss}line{font-family:\000033}}
.miniColors-trigger {
  height: 22px;
  width: 22px;
  vertical-align: middle;
  margin: 0 .25em;
  display: inline-block;
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/mini_colors\.scss}line{font-family:\0000312}}
.miniColors-selector {
  position: absolute;
  width: 175px;
  height: 150px;
  background: #FFF;
  border: solid 1px #BBB;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  padding: 5px;
  z-index: 999999;
  margin-left: -1.8125em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/mini_colors\.scss}line{font-family:\0000324}}
.miniColors-selector.black {
  background: #000;
  border-color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/mini_colors\.scss}line{font-family:\0000329}}
.miniColors-colors {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 150px;
  height: 150px;
  background: url(/assets/mini_colors/colors.png) right no-repeat;
  cursor: crosshair;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/mini_colors\.scss}line{font-family:\0000339}}
.miniColors-hues {
  position: absolute;
  top: 5px;
  left: 160px;
  width: 20px;
  height: 150px;
  background: url(/assets/mini_colors/colors.png) left no-repeat;
  cursor: crosshair;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/mini_colors\.scss}line{font-family:\0000349}}
.miniColors-colorPicker {
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/mini_colors\.scss}line{font-family:\0000358}}
.miniColors-colorPicker-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  border: 1px solid #000;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/mini_colors\.scss}line{font-family:\0000370}}
.miniColors-huePicker {
  position: absolute;
  left: -3px;
  width: 24px;
  height: 1px;
  border: 1px solid #fff;
  border-radius: 2px;
  background: #000;
}
