@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/paginator\.scss}line{font-family:\000033}}
.pagination {
  margin: 1.5em 0 0;
  line-height: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/paginator\.scss}line{font-family:\000037}}
.pagination a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-bottom: 3px solid transparent;
  padding: 0 .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/paginator\.scss}line{font-family:\0000313}}
.pagination a.current {
  color: #333;
  border-color: #333;
  border-bottom: 3px solid;
}
