@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\000034}}
#orders .buttons {
  margin: 0 0 1em;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\000038}}
#orders .buttons .button {
  margin: 0 0 1.5em;
  font-size: .875em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000312}}
#orders.with_kpi .buttons {
  margin-top: -5em;
  height: 5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000318}}
#orders .table {
  font-size: .8125em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000322}}
#orders .table .r .id {
  width: 80px;
  color: #aaa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000326}}
#orders .table .r .id strong {
  color: #222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000328}}
#orders .table .r .id .custom_field {
  color: #222;
  font-size: .875em;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000335}}
#orders .table .r .campaign {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000340}}
#orders .table .r .date {
  color: #444;
  font-size: .857em;
  width: 100px;
  word-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000341}}
#orders .table .r .aged {
  color: #070;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000342}}
#orders .table .r .state {
  width: 236px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000344}}
#orders .table .r .friend, #orders .table .r .parent {
  width: 190px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000347}}
#orders .table .r .friend .name, #orders .table .r .friend .email, #orders .table .r .parent .name, #orders .table .r .parent .email {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000354}}
#orders .table .r .state {
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000357}}
#orders .table .r .state .confirm, #orders .table .r .state .confirmed {
  color: #070;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000358}}
#orders .table .r .state .decline, #orders .table .r .state .declined {
  color: #700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000360}}
#orders .table .r .state .undo {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000365}}
#orders .table .r .state span {
  padding: 0 .88em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000369}}
#orders .table .r:hover .state .undo {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/referrers\.scss}line{font-family:\0000374}}
#orders .table.with_campaign .r .friend, #orders .table.with_campaign .r .parent {
  width: 140px;
}
