@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\000034}}
#rewards .buttons {
  margin: 0 0 1em;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\000038}}
#rewards .buttons .button {
  margin: 0 0 1.5em;
  font-size: .875em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000311}}
#rewards .table {
  font-size: .8125em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000315}}
#rewards .table .r .order_id {
  width: 80px;
  color: #aaa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000319}}
#rewards .table .r .order_id strong {
  color: #222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000322}}
#rewards .table .r .campaign {
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000328}}
#rewards .table .r .customer {
  width: 280px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000331}}
#rewards .table .r .customer .name, #rewards .table .r .customer .email {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000338}}
#rewards .table .r .role {
  width: 70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000339}}
#rewards .table .r .cashout_method {
  width: 70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000340}}
#rewards .table .r .reward_value {
  width: 110px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000343}}
#rewards .table .r .state .button {
  font-size: .8125em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000349}}
#rewards .table .paid {
  color: #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000352}}
#rewards .table .paid .state {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000356}}
#rewards .table .paid .state .button {
  color: #900;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000359}}
#rewards .table .paid:hover {
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
  color: #555;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000362}}
#rewards .table .paid:hover .state {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000367}}
#rewards .table.with_campaign .r .reward_value {
  width: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/rewards\.scss}line{font-family:\0000368}}
#rewards .table.with_campaign .r .customer {
  width: 180px;
}
