@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\000035}}
#sites .list a.site {
  display: block;
  padding: .5em 1em;
  margin: 0 -1em;
  border: 0;
  color: #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000312}}
#sites .list a.site:hover {
  background: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000314}}
#sites .list a.site:hover .title {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000317}}
#sites .list a.site .title {
  font-size: 1.2em;
  color: #5ca03b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000318}}
#sites .list a.site .url {
  font-size: .875em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000324}}
.site_header .integration_state {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 1em;
  margin-right: 1.5em;
  padding-left: 1.5em;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000331}}
.site_header .integration_state .indicator {
  width: 1em;
  margin-left: -1em;
  float: left;
  font-size: 1.5em;
  position: relative;
  top: -.1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000337}}
.site_header .integration_state.yes .indicator {
  color: #0c0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000338}}
.site_header .integration_state.no .indicator {
  color: #c00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000341}}
.site_header a.integration_state {
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000344}}
.site_header a.integration_state span {
  color: #5ca03b;
  text-decoration: none;
  border-bottom: 1px solid #91cc75;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/import\.scss}line{font-family:\0000328}}
.site_header a.integration_state span:hover {
  border-bottom-color: #5ca03b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/import\.scss}line{font-family:\0000332}}
.site_header a.integration_state span:active {
  color: #518d34;
  border-bottom-color: #518d34;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000345}}
.site_header a.integration_state:hover span {
  border-bottom: 1px solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000350}}
#site .not_integrated {
  display: block;
  padding: 1em 1.5em;
  margin: 0 -1.5em 1.5em;
  background: #ffa;
  color: #222;
  text-decoration: none;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000358}}
#site .not_integrated span {
  color: #5ca03b;
  text-decoration: none;
  border-bottom: 1px solid #91cc75;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/import\.scss}line{font-family:\0000328}}
#site .not_integrated span:hover {
  border-bottom-color: #5ca03b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/import\.scss}line{font-family:\0000332}}
#site .not_integrated span:active {
  color: #518d34;
  border-bottom-color: #518d34;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000362}}
#site .not_integrated:hover span {
  border-color: #5ca03b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000366}}
#site .dashboard .block {
  margin-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000368}}
#site .dashboard .kpi {
  padding: 16px;
  margin-left: 0;
  color: #000;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000374}}
#site .dashboard .kpi dl {
  width: 20%;
  margin-right: 5%;
  margin-left: 0%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000380}}
html.no-js #site .dashboard .kpi {
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000383}}
html.no-js #site .dashboard .kpi:hover {
  background: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000386}}
#site .dashboard .kpi .more_details {
  text-align: right;
  font-size: .875em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000390}}
#site .dashboard .kpi .more_details ins {
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000393}}
#site .dashboard .kpi dt {
  height: 2.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000395}}
#site .dashboard .kpi:hover {
  background: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\0000398}}
#site .dashboard .kpi:hover .more_details ins {
  border-bottom: 1px solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003102}}
#site .dashboard .top_buttons {
  float: left;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003106}}
#site .dashboard .top_buttons a {
  margin-right: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003109}}
#site .dashboard .empty_add_campaign {
  font-size: .9em;
  margin: 1em 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003115}}
#site .empty_message {
  padding: .5em 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003118}}
#site .empty_message .buttons {
  margin-top: .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003123}}
#site .activities {
  margin: -1.2em 0 0;
  max-height: 24.5em;
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003128}}
#site .activities .empty {
  padding: 1.5em 0;
  text-align: center;
  color: #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003134}}
#site .activities .item {
  padding: .3em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003137}}
#site .activities .item .text {
  font-size: .8125em;
  margin-right: 8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003142}}
#site .activities .item .time {
  font-size: .75em;
  color: #999;
  float: right;
  text-align: right;
  width: 8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003153}}
#site .notifications a {
  display: block;
  color: #000;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003157}}
#site .notifications a:hover {
  color: #5ca03b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003159}}
#site .notifications a:hover span {
  border-bottom: 1px solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003163}}
#site .notifications .notification {
  margin-top: .5em;
  padding: 1em;
  background: #ffc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003168}}
#site .notifications .notification.critical {
  background: #fcc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003174}}
#site .campaigns_list, #site_campaign_comparison .campaigns_list {
  max-height: 22em;
  padding: .5em 0;
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003177}}
#site .campaigns_list .campaign, #site_campaign_comparison .campaigns_list .campaign {
  padding-right: 3em;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003181}}
#site .campaigns_list .campaign label.show, #site_campaign_comparison .campaigns_list .campaign label.show {
  overflow: hidden;
  display: inline-block;
  font-family: 'IconicStroke';
  text-align: center;
  font-size: 1em;
  height: 2.65em;
  line-height: 2.65em;
  width: 3em;
  color: #777;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1.325em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003196}}
#site .campaigns_list .campaign label.show:before, #site_campaign_comparison .campaigns_list .campaign label.show:before {
  content: '\e025';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003199}}
#site .campaigns_list .campaign label.show.checked, #site_campaign_comparison .campaigns_list .campaign label.show.checked {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003201}}
#site .campaigns_list .campaign label.show input, #site_campaign_comparison .campaigns_list .campaign label.show input {
  position: absolute;
  top: -10000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003204}}
#site .campaigns_list .campaign .type, #site_campaign_comparison .campaigns_list .campaign .type {
  float: right;
  font-size: .6875em;
  line-height: 1.2em;
  text-transform: lowercase;
  background: #eee;
  padding: .2em .8em;
  margin: .5em 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003214}}
#site .campaigns_list .campaign:hover .type, #site_campaign_comparison .campaigns_list .campaign:hover .type {
  background: #ddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003216}}
#site .campaigns_list .campaign a, #site_campaign_comparison .campaigns_list .campaign a {
  display: block;
  padding: .5em .5em .5em 1.7em;
  border: 0;
  color: #333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003222}}
#site .campaigns_list .campaign a:hover, #site_campaign_comparison .campaigns_list .campaign a:hover {
  background: #eee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003224}}
#site .campaigns_list .campaign a:hover .title, #site_campaign_comparison .campaigns_list .campaign a:hover .title {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003227}}
#site .campaigns_list .campaign a h6, #site_campaign_comparison .campaigns_list .campaign a h6 {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003229}}
#site .campaigns_list .campaign a h6 .active, #site .campaigns_list .campaign a h6 .title, #site_campaign_comparison .campaigns_list .campaign a h6 .active, #site_campaign_comparison .campaigns_list .campaign a h6 .title {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003231}}
#site .campaigns_list .campaign a h6 .active, #site_campaign_comparison .campaigns_list .campaign a h6 .active {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 2em;
  margin-left: -.6em;
  line-height: .75em;
  width: .6em;
  padding-right: 0;
  color: #aaa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003241}}
#site .campaigns_list .campaign a h6 .title, #site_campaign_comparison .campaigns_list .campaign a h6 .title {
  color: #777;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003249}}
#site .campaigns_list .campaign a .meta, #site_campaign_comparison .campaigns_list .campaign a .meta {
  font-size: .8125em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003254}}
#site .campaigns_list .campaign.active_campaign a h6 .title, #site .campaigns_list .campaign.active_campaign a h6 .active, #site_campaign_comparison .campaigns_list .campaign.active_campaign a h6 .title, #site_campaign_comparison .campaigns_list .campaign.active_campaign a h6 .active {
  color: #5ca03b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003262}}
#site .campaigns_list.show_active .active_campaign, #site .campaigns_list.show_inactive .inactive_campaign, #site_campaign_comparison .campaigns_list.show_active .active_campaign, #site_campaign_comparison .campaigns_list.show_inactive .inactive_campaign {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003265}}
#site .campaigns_list .campaign {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003271}}
#site_form .legal {
  border: 1px solid #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 1em;
  margin: 0 -1em 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003277}}
#site_form .legal legend {
  padding: 0 .5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003279}}
#site_form .legal :last-child {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003280}}
#site_form .legal input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003290}}
#site_campaign_comparison #comparison_table .table .r {
  font-size: .875em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003293}}
#site_campaign_comparison #comparison_table .table .r .c {
  padding-left: 6px;
  padding-right: 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003295}}
#site_campaign_comparison #comparison_table .table .r .title {
  width: 182px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003301}}
#site_campaign_comparison #comparison_table .table .r .value {
  width: 90px;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003303}}
#site_campaign_comparison #comparison_table .table .r .max {
  background: #cfc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003306}}
#site_campaign_comparison #comparison_table .table .all {
  border-bottom: 1px solid #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003308}}
#site_campaign_comparison #comparison_table .table .th .value {
  font-size: .857em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003311}}
#site_campaign_comparison .filters {
  margin: 0 0 0em;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003315}}
#site_campaign_comparison .filters select {
  font-size: .9375em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003317}}
#site_campaign_comparison .filters .minitabs {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 0 0 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003323}}
#site_campaign_comparison .content {
  margin: -1.5em 0 0 0;
  overflow: hidden;
  padding: 1.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003330}}
#site_campaign_comparison .chart .graph {
  height: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003331}}
#site_campaign_comparison .chart .timeline {
  display: none;
  height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003334}}
#site_campaign_comparison .tip {
  color: #777;
  font-size: .875em;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003339}}
#site_campaign_comparison .tip .line {
  background: url(/assets/comparison_overall_icon.png);
  width: 40px;
  height: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/sites\.scss}line{font-family:\00003347}}
#site_campaign_comparison .group_by {
  margin: -2em 0 .5em;
  position: relative;
  z-index: 2;
}
