@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/subheader\.scss}line{font-family:\000033}}
.subheader {
  margin: -3em 0 1.5em;
  background: #eee;
  border-bottom: 1px solid #e0e0e0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/subheader\.scss}line{font-family:\000038}}
.subheader .title {
  overflow: hidden;
  padding: 1.5em 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/subheader\.scss}line{font-family:\0000312}}
.subheader .title .type {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 1em;
  font-size: .625em;
  line-height: 1.2em;
  text-transform: lowercase;
  background: #ccc;
  padding: .2em .8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/subheader\.scss}line{font-family:\0000323}}
.subheader h2 {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/subheader\.scss}line{font-family:\0000330}}
.subheader .top {
  font-size: .75em;
  line-height: 1.5em;
  margin: 0 0 .3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/subheader\.scss}line{font-family:\0000335}}
.subheader .top, .subheader .top a {
  color: #777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/subheader\.scss}line{font-family:\0000337}}
.subheader .top a {
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/subheader\.scss}line{font-family:\0000340}}
.subheader .top a:hover {
  border-bottom: 1px solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/subheader\.scss}line{font-family:\0000344}}
.subheader .actions {
  font-size: .8125em;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/subheader\.scss}line{font-family:\0000349}}
.subheader .tabs {
  clear: left;
  border-top: 1px solid #eee;
  padding: .75em 0 0;
  margin: 0 0 1.5em;
}
