@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\000033}}
.table {
  margin: 0 -12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\000036}}
.table .autowidth {
  width: auto !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\000038}}
.table .r {
  display: block;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000312}}
.table .r:after {
  content: '';
  display: block;
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000313}}
.table .r:nth-child(2n) {
  background: #f9f9f9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000315}}
.table .r .c {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  white-space: normal;
  width: 150px;
  padding: 6px 12px;
  min-height: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000323}}
.table a.row {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #000;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000328}}
.table a.row:hover {
  background: #eee;
  color: #5ca03b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000335}}
.table .th .r:nth-child(2n) {
  background: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000338}}
.table .th {
  border-bottom: 2px solid #000;
  padding-bottom: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000341}}
.table .th .c {
  padding-bottom: 3px;
  line-height: 1.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000345}}
.table .th .c span, .table .th .c a {
  font-size: .875em;
  color: #777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000346}}
.table .th .c a:hover {
  background: transparent;
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000347}}
.table .th .c a.active {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000349}}
.table .th .c a {
  border-color: #aaa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000352}}
.table .th .c a:hover {
  border-bottom: 1px solid;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000356}}
.table .th:nth-child(2n) {
  background: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000359}}
.table .filters {
  background: #ddd !important;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000363}}
.table .filters form {
  width: 120%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000365}}
.table .filters input, .table .filters select {
  width: 80%;
  font-size: .8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000370}}
.table .add {
  margin: 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/table\.scss}line{font-family:\0000372}}
.table .right {
  float: right;
}
