@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\000034}}
#tariffs_table .tariff {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\000039}}
#tariffs_table .tariff .tariff_inner {
  margin: 0 2px;
  border: 1px solid #ddd;
  padding: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\0000317}}
#tariffs_table .tariff .title {
  color: #fff;
  background-color: #2A7633;
  font-size: 1.5em;
  font-family: 'Museo';
  text-align: center;
  line-height: 2em;
  white-space: nowrap;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\0000328}}
#tariffs_table .tariff .row {
  padding: .75em .3em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\0000332}}
#tariffs_table .tariff .row.l2 {
  height: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\0000333}}
#tariffs_table .tariff .row.l3 {
  height: 4.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\0000336}}
#tariffs_table .tariff .buy {
  padding: .3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\0000339}}
#tariffs_table .tariff .buy button {
  display: block;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\0000341}}
#tariffs_table .tariff .buy .current, #tariffs_table .tariff .buy .green_button {
  display: block;
  width: auto;
  font-size: 1.125em;
  line-height: 1.5em;
  padding: .35em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\0000349}}
#tariffs_table .tariff .buy .current {
  color: #999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\0000353}}
#tariffs_table .tariff.active .tariff_inner {
  background: #BEE1AD;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\0000356}}
#tariffs_table .tariff.active .tariff_inner .even {
  background: #AFDA9A;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\0000361}}
#tariffs_table .even {
  background: #F6F3F3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ruslanvoloshin\/work\/flocktory\/app\/assets\/stylesheets\/www\/tariffs_table\.scss}line{font-family:\0000363}}
#tariffs_table .vat {
  text-align: right;
  font-size: .875em;
  font-style: italic;
  margin: 1.5em 0 0;
}
