$border-color: #ccc;
$text-color: #777;
$background-color: red;
//.shc, input.shc, textarea.shc {
//  float: none;
//  text-align: left;
//  font-family: Arial;
//  position: relative;
//  left: auto;
//  right: auto;
//  top: auto;
//  bottom: auto;
//  margin: 0;
//  padding: 0;
//  border: none 0;
//  border-radius: 0;
//  font-size: 12px;
//  vertical-align: baseline;
//  background: 0 0;
//  color: #000;
//  line-height: 1.167em;
//  outline: none;
//  text-transform: none;
//  text-decoration: none;
//  box-shadow: none;
//  -webkit-box-shadow: none;
//  -moz-box-shadow: none;
//  text-shadow: none
//}

.shf_chat {
  z-index: 999999;
  width: 300px;
  border: 1px solid #cccccc;
  height: 460px;
  background: #f0f0ef;
  position: fixed;
  padding: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.shf_chat_logo {
  max-width: 27px;
}

.shf_container {
  overflow: hidden
}

.shf_header {
  background: $background-color;
  min-width: 258px;
  padding: 3px;
  height: 25px;
  color: #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.shf_header_info {
  overflow: hidden
}

.shf_header_logo {
  width: 45px;
  line-height: 34px;
  text-align: center;
  height: 34px;
  cursor: pointer;
  float: left;
  white-space: nowrap;
  display: inline-table
}

.shf_header_logo_cell {
  vertical-align: middle;
  text-align: center;
  display: table-cell
}

.shf_title {
  line-height: 45px;
  height: 35px;
  overflow: hidden;
  color: #fff;
  font-size: 16px
}

.shf_top_buttons {
  width: 45px;
  float: right;
  height: 27px;
}

.chf_ico {
  float: right;
  width: 16px;
  height: 16px;
  margin: 4px 4px 0 0;
  cursor: pointer
}

.chf_ico_hide {
  background: url('widget/sh_btn.png') no-repeat -9% 50%
}

.chf_ico_hide:hover {
  background-color: rgba(255, 255, 255, .3)
}

.chf_ico_close {
  background: url('widget/sh_btn.png') no-repeat 112% 50%
}

.chf_ico_close:hover {
  background-color: rgba(255, 255, 255, .3)
}

.shf_scrollbar {
  overflow: hidden;
  overflow-y: auto
}

.shf_copyright {
  height: 22px;
  color: #646464;
  background: #f0f0ef;
  line-height: 22px;
  font-size: 12px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%
}

.shf_copyright a {
  color: $background-color;
  text-decoration: none
}

.shf_copyright a span {
  color: #333
}

.shf_copyright a span.shf_copyright_text {
  color: #646464;
  font-weight: 400
}

.shf_resize {
  float: right;
  margin-top: 12px;
  width: 9px;
  height: 10px;
  cursor: se-resize;
  z-index: 999999;
  background: url('widget/resize.png') no-repeat
}

.shf_offline_done {
  margin: 15px 10px 0
}

.shf_letter_img {
  width: 76px;
  height: 54px;
  margin: 0 auto;
  background: url('widget/letter.png') no-repeat -9% 50%
}

.shf_successfully {
  font-size: 26px;
  color: #333;
  margin: 20px 0 0;
  text-align: center;
  font-weight: 700
}

.shf_message_sent {
  font-size: 12px;
  color: #333;
  margin: 0 0 30px;
  text-align: center
}

.shf_chat_end {
  margin: 15px 10px 0
}

.shf_chat_title {
  font-size: 12px;
  color: #646464;
  margin-bottom: 10px
}

.shf_chat_description {
  font-size: 24px;
  color: #333
}

.shf_chat_decision {
  margin-top: 17px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d7d7d6;
  font-size: 13px;
  min-width: 225px
}

.shf_chat_decision [type="radio"] {
  margin: 10px 10px 0 0;
  float: left
}

.shf_chat_question {
  margin: 14px 0;
  font-size: 14px;
  color: #262626
}

.shf_chat_fields {
  overflow: hidden;
  border-bottom: 1px solid #d7d7d6;
  height: 53px;
  min-width: 225px
}

.shf_divisions {
  overflow: hidden;
  margin: 15px 10px 0
}

.shf_messages {
  background: #fff;
  height: 264px;
  padding-bottom: 5px
}

.shf_wait_connection {
  margin: 9px;
  background: url('widget/connection_loader.gif') no-repeat;
  padding: 10px 10px 10px 38px
}

.shf_typing {
  margin: 8px 13px 8px 8px;
  color: #6D6B6B;
  font-style: italic
}

.shf_message {
  min-width: 240px;
  min-height: 36px;
  padding: 9px 0;
  border-bottom: 1px solid #f2f2f2;
  margin: 0 8px
}

.shf_photo {
  width: 36px;
  height: 36px;
  float: left;
  overflow: hidden
}

.shf_mess_content {
  margin: 0 0 0 45px
}

.shf_mess_details {
  height: 16px;
  line-height: 16px
}

.shf_mess_time {
  float: right;
  color: #909090;
  font-size: 10px
}

.shf_mess_nick {
  color: $background-color;
  float: left;
  font-size: 13px;
  font-weight: 700
}

.shf_mess_nick_sel {
  color: #627aad
}

.shf_mess_text {
  color: #363636;
  font-size: 12px;
  word-wrap: break-word;
  line-height: 18px;
  text-align: left;
}

.shf_avatar {
  width: 36px;
  height: 36px;
  border:0;
  -moz-border-radius:18px;
  -webkit-border-radius:18px;
  -opera-border-radius:18px;
  -khtml-border-radius:18px;
  border-radius:18px;
}

.shf_file a {
  color: #3A609B;
  font-weight: 700
}

.shf_file img {
  max-width: 200px
}

.shf_file_icon {
  background-color: #f0f0ef;
  border: 1px solid #e6e6e5;
  min-height: 36px;
  line-height: 36px;
  padding: 0 9px
}

.shf_clear {
  clear: both
}

.shf_hide {
  display: none
}

.shf_chat_operator_logo {
  max-width: 46px
}

.shf_history_btn {
  color: #363636;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  cursor: pointer
}

.shf_history_btn:hover, .shf_hypertext_word {
  text-decoration: underline
}

.shf_hypertext_word {
  font-style: italic;
  cursor: pointer
}

.shf_ht_hint {
  background: #f0f0ef;
  border: 1px solid #e6e6e5;
  padding: 10px
}

.shc ::-webkit-scrollbar {
  width: 6px
}

.shc ::-webkit-scrollbar-track {
  background-color: rgba(255, 0, 0, .1)
}

.shc ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, .5)
}
.shf_button[disabled] {
  opacity: .7
}

input.shf_input {
  height: 36px;
  padding: 1px 7px
}

input.shf_input, textarea.shf_textarea {
  background: #fff;
  border: 1px solid #dadad9;
  font-size: 13px;
  width: 100%;
  position: absolute;
  left: -9px;
  top: 0
}

textarea.shf_textarea {
  height: 75px;
  padding: 8px 7px 1px;
  margin: 0
}

.shf_chat_vote {
  margin-top: 11px;
  cursor: pointer
}

.shf_chat_radio {
  overflow: hidden
}

.shf_button_field {
  overflow: hidden;
  margin-top: 10px
}

.shf_button_history_number {
  width: 23px;
  height: 23px;
  background-color: $background-color;
  color: #fff;
  border-radius: 100%;
  float: right;
  text-align: center;
  line-height: 23px;
  margin: 6px 9px 0 0
}

.shf_button {
  min-width: 219px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin: 10px 0 0;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  border: 1px solid #931010;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, .75);
  background: $background-color
}

.shf_button:hover {
  background: #aa1212
}

.shf_button_back {
  min-width: 60px;
  color: #646464;
  float: left;
  border: 1px solid #dadad9;
  background: #F4F4F3
}

.shf_button_back:hover {
  color: #333;
  border: 1px solid #c4c4c3;
  background: #fcfcfb
}

.shf_button_save {
  min-width: 140px;
  float: left;
  margin-left: 9px;
  padding: 0 9px
}

.shf_button_big_gray {
  min-width: 219px;
  float: none
}

.shf_button_gray_complete {
  min-width: 85px;
  height: 24px;
  line-height: 24px;
  float: right;
  font-size: 12px;
  margin-top: 6px
}

.shf_footer {
  background: #f0f0ef;
  transition-property: height;
  transition-duration: .5s;
  transition-timing-function: ease;
  -webkit-transition-property: height;
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: ease
}

.shf_footer {
  height: 84px
}


.shf_textarea_answer {
  overflow: hidden;
  position: relative
}

.shf_textarea_answer textarea {
  resize: none;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 35px;
  padding: 4px 21px 4px 4px;
  border: 1px solid #d3d3d2;
  outline: none;
  display: block;
  line-height: 16px;
  background: #fff;
  font-size: 13px
}

.shf_enter_ico {
  background: url('widget/logo_enter.png') no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer
}

textarea {
  overflow: auto
}

.shf_point {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid #333;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin: 60px 0 0 60px
}

.shf_btn {
  z-index: 999999;
  font-size: 14px;
  font-family: Arial;
  color: #fff;
  position: fixed;
  cursor: pointer;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, .5);
  background: #9c1111
}

.shf_btn:hover {
  background: #aa1212
}

.shf_btn_top, .shf_btn_bottom {
  height: 36px;
  line-height: 36px;
  max-width: 465px;
  min-width: 177px
}

.shf_btn_left, .shf_btn_right {
  width: 36px;
  min-height: 97px
}

.shf_logo {
  width: 27px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  height: 100%;
  display: table
}

.shf_logo_cell {
  vertical-align: middle;
  text-align: center;
  display: table-cell
}

.shf_btn_top .shf_logo, .shf_btn_bottom .shf_logo {
  width: 45px;
  float: left
}

.shf_btn_left .shf_logo, .shf_btn_right .shf_logo {
  width: 100%;
  height: 36px
}

.shf_logo_btn {
  max-width: 27px;
  vertical-align: middle;
}

.shf_btn_top .shf_pay_logo, .shf_btn_bottom .shf_pay_logo {
  width: 16px;
  height: 34px;
  margin-top: 1px;
  margin-left: 10px;
  float: right;
  cursor: pointer;
  background: url('widget/paychat_top_bottom.png') no-repeat
}

.shf_btn_left .shf_pay_logo, .shf_btn_right .shf_pay_logo {
  width: 35px;
  height: 16px;
  cursor: pointer;
  float: right;
  background: url('widget/paychat_left_right.png') no-repeat
}

.shf_btn_top .shf_visitors_logo, .shf_btn_bottom .shf_visitors_logo {
  margin: 12px 4px 0 9px
}

.shf_btn_top .shf_visitors_logo, .shf_btn_bottom .shf_visitors_logo, .shf_btn_left .shf_visitors_logo, .shf_btn_right .shf_visitors_logo {
  width: 12px;
  cursor: pointer;
  height: 14px;
  float: left;
  background: url('widget/logo_visitors.png') no-repeat
}

.shf_btn_left .shf_visitors_logo, .shf_btn_right .shf_visitors_logo {
  margin: 4px 3px 0 0
}

.shf_btn_left .shf_title_text, .shf_btn_right .shf_title_text {
  cursor: pointer;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, .3);
  padding: 10px 0
}

.shf_btn_top .shf_title_text, .shf_btn_bottom .shf_title_text {
  overflow: hidden;
  height: 27px;
  line-height: 27px;
  margin-top: 4px;
  white-space: nowrap;
  cursor: pointer;
  border-left: 1px solid rgba(255, 255, 255, .3);
  padding: 0 8px;
  font-size: 16px;
  color: #fff;
  float: left;
  max-width: 328px
}

.shf_btn_top_left {
  top: 0;
  left: 50px
}

.shf_btn_top_center {
  top: 0;
  left: 42%
}

.shf_btn_top_right {
  top: 0;
  right: 50px
}

.shf_btn_bottom_left {
  bottom: 0;
  left: 50px
}

.shf_btn_bottom_center {
  bottom: 0;
  left: 42%
}

.shf_btn_bottom_right {
  bottom: 0;
  right: 50px
}

.shf_btn_left_top {
  left: 0;
  top: 50px
}

.shf_btn_left_center {
  left: 0;
  top: 42%
}

.shf_btn_left_bottom {
  left: 0;
  bottom: 50px
}

.shf_btn_right_top {
  right: 0;
  top: 50px
}

.shf_btn_right_center {
  right: 0;
  top: 42%
}

.shf_btn_right_bottom {
  right: 0;
  bottom: 50px
}

.shf_btn_top {
  left: 216px;
  top: -50px;
  border-bottom: 16px solid #fff
}

.shf_operator_help {
  width: 220px;
  min-height: 125px;
  padding: 10px;
  border: 1px solid #aaa;
  position: absolute;
  top: -151px;
  background: #fff
}

.shf_operator_logo {
  width: 46px;
  height: 46px;
  cursor: pointer;
  float: left;
  margin: 19px 15px 0
}

.shf_operator_title {
  font-size: 13px;
  font-weight: 700;
  margin-top: 18px;
  line-height: 16px;
  color: $background-color
}

.shf_operator_description {
  font-size: 12px;
  color: #333;
  line-height: 18px
}

.shf_operator_triangle {
  top: 126px;
  border-color: #adadad transparent transparent transparent
}

.shf_operator_triangle, .shf_operator_triangle_white {
  position: absolute;
  left: 102px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 15px 0 15px
}

.shf_operator_triangle_white {
  top: 124px;
  border-color: #fff transparent transparent transparent
}

.shf_btn_top .shf_operator_help {
  top: 57px;
  right: -15px
}

.shf_btn_top .shf_operator_triangle {
  left: 94px;
  top: -21px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 21px 15px;
  border-color: transparent transparent #adadad transparent
}

.shf_btn_top .shf_operator_triangle_white {
  left: 94px;
  top: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 21px 15px;
  border-color: transparent transparent #fff transparent
}

.shf_btn_bottom .shf_operator_help {
  top: auto;
  bottom: 40px;
  right: 0
}

.shf_btn_bottom .shf_operator_triangle, .shf_btn_bottom .shf_operator_triangle_white {
  display: none
}

.shf_btn_left .shf_operator_help {
  top: 0;
  left: 57px
}

.shf_btn_left .shf_operator_triangle {
  left: -22px;
  top: 42px;
  border-style: solid;
  border-width: 15px 21px 15px 0;
  border-color: transparent #adadad transparent transparent
}

.shf_btn_left .shf_operator_triangle_white {
  left: -20px;
  top: 42px;
  border-style: solid;
  border-width: 15px 21px 15px 0;
  border-color: transparent #fff transparent transparent
}

.shf_btn_right .shf_operator_help {
  top: 0;
  right: 57px
}

.shf_btn_right .shf_operator_triangle {
  left: 240px;
  top: 41px;
  border-style: solid;
  border-width: 15px 0 15px 21px;
  border-color: transparent transparent transparent #adadad
}

.shf_btn_right .shf_operator_triangle_white {
  left: 238px;
  top: 41px;
  border-style: solid;
  border-width: 15px 0 15px 21px;
  border-color: transparent transparent transparent #fff
}

.shf_operator_button_no {
  float: left;
  font-size: 14px;
  color: #646464;
  margin: 20px 0 0 27px;
  text-decoration: underline
}

.shf_operator_button_save {
  min-width: 114px;
  margin-left: 26px;
  padding: 0 9px;
  float: left
}

.shf_operator_close_img {
  background: url('widget/operator_close.png') no-repeat;
  width: 9px;
  height: 9px;
  margin: 4px 0 0 4px
}

.shf_operator_close {
  width: 17px;
  height: 17px;
  top: 3px;
  right: 3px;
  position: absolute;
  border: 1px solid #fff
}

.shf_operator_close:hover {
  border: 1px solid #adadac;
  background: #f7f7f7
}