- if admin_signed_in?
  #admin_login_box{style: 'float:left'}
    = current_admin.email
    |
    = link_to 'Admin section', admins_path
    |
    = link_to 'Sign out', destroy_admin_session_path, method: :delete
