!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Flattern - Flat and trendy bootstrap site template
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    -#/ css
    -#%link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    -#%link{:href => "css/bootstrap-responsive.css", :rel => "stylesheet"}/
    -#%link{:href => "css/fancybox/jquery.fancybox.css", :rel => "stylesheet"}/
    -#%link{:href => "css/jcarousel.css", :rel => "stylesheet"}/
    -#%link{:href => "css/flexslider.css", :rel => "stylesheet"}/
    -#%link{:href => "css/style.css", :rel => "stylesheet"}/
    -#/ Theme skin
    -#%link#t-colors{:href => "skins/default.css", :rel => "stylesheet"}/
    / boxed bg
    %link#bodybg{:href => "bodybg/bg1.css", :rel => "stylesheet", :type => "text/css"}/
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Fav and touch icons
    %link{:href => "ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "ico/favicon.png", :rel => "shortcut icon"}/
  %body
    #wrapper
      / toggle top area
      .hidden-top
        .hidden-top-inner.container
          .row
            .span12
              %ul
                %li
                  %strong We are available for any custom works this month
                %li Main office: Springville center X264, Park Ave S.01
                %li
                  Call us
                  %i.icon-phone
                  (123) 456-7890 - (123) 555-7891
      / end toggle top area
      / start header
      %header
        .container
          / hidden top area toggle link
          #header-hidden-link
            %a.toggle-link{"data-target" => ".hidden-top", :href => "#", :title => "Click me you'll get a surprise"}
              %i>
              Open
          / end toggle link
          .row.nomargin
            .span12
              .headnav
                %ul
                  %li
                    %a{"data-toggle" => "modal", :href => "#mySignup"}
                      %i.icon-user
                      Sign up
                  %li
                    %a{"data-toggle" => "modal", :href => "#mySignin"} Sign in
              / Signup Modal
              #mySignup.modal.styled.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "mySignupModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h4#mySignupModalLabel
                    Create an
                    %strong account
                .modal-body
                  %form.form-horizontal
                    .control-group
                      %label.control-label{:for => "inputEmail"} Email
                      .controls
                        %input#inputEmail{:placeholder => "Email", :type => "text"}/
                    .control-group
                      %label.control-label{:for => "inputSignupPassword"} Password
                      .controls
                        %input#inputSignupPassword{:placeholder => "Password", :type => "password"}/
                    .control-group
                      %label.control-label{:for => "inputSignupPassword2"} Confirm Password
                      .controls
                        %input#inputSignupPassword2{:placeholder => "Password", :type => "password"}/
                    .control-group
                      .controls
                        %button.btn{:type => "submit"} Sign up
                      %p.aligncenter.margintop20
                        Already have an account?
                        %a{"aria-hidden" => "true", "data-dismiss" => "modal", "data-toggle" => "modal", :href => "#mySignin"} Sign in
              / end signup modal
              / Sign in Modal
              #mySignin.modal.styled.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "mySigninModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h4#mySigninModalLabel
                    Login to your
                    %strong account
                .modal-body
                  %form.form-horizontal
                    .control-group
                      %label.control-label{:for => "inputText"} Username
                      .controls
                        %input#inputText{:placeholder => "Username", :type => "text"}/
                    .control-group
                      %label.control-label{:for => "inputSigninPassword"} Password
                      .controls
                        %input#inputSigninPassword{:placeholder => "Password", :type => "password"}/
                    .control-group
                      .controls
                        %button.btn{:type => "submit"} Sign in
                      %p.aligncenter.margintop20
                        Forgot password?
                        %a{"aria-hidden" => "true", "data-dismiss" => "modal", "data-toggle" => "modal", :href => "#myReset"} Reset
              / end signin modal
              / Reset Modal
              #myReset.modal.styled.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myResetModalLabel", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h4#myResetModalLabel
                    Reset your
                    %strong password
                .modal-body
                  %form.form-horizontal
                    .control-group
                      %label.control-label{:for => "inputResetEmail"} Email
                      .controls
                        %input#inputResetEmail{:placeholder => "Email", :type => "text"}/
                    .control-group
                      .controls
                        %button.btn{:type => "submit"} Reset password
                      %p.aligncenter.margintop20
                        We will send instructions on how to reset your password to your inbox
              / end reset modal
          .row
            .span4
              .logo
                %a{:href => "index.html"}
                  %img.logo{:alt => "", :src => "img/logo.png"}/
                %h1 Flat and trendy bootstrap template
            .span8
              .navbar.navbar-static-top
                .navigation
                  %nav
                    %ul.nav.topnav
                      %li.dropdown.active
                        %a{:href => "index.html"}
                          Home
                          %i.icon-angle-down
                        %ul.dropdown-menu
                          %li
                            %a{:href => "index-alt2.html"} Homepage 2
                          %li
                            %a{:href => "index-alt3.html"} Homepage 3
                      %li.dropdown
                        %a{:href => "#"}
                          Features
                          %i.icon-angle-down
                        %ul.dropdown-menu
                          %li
                            %a{:href => "typography.html"} Typography
                          %li
                            %a{:href => "table.html"} Table
                          %li
                            %a{:href => "components.html"} Components
                          %li
                            %a{:href => "animations.html"} 56 Animations
                          %li
                            %a{:href => "icons.html"} Icons
                          %li
                            %a{:href => "icon-variations.html"} Icon variations
                          %li.dropdown
                            %a{:href => "#"}
                              3 Sliders
                              %i.icon-angle-right
                            %ul.dropdown-menu.sub-menu-level1
                              %li
                                %a{:href => "index.html"} Nivo slider
                              %li
                                %a{:href => "index-alt2.html"} Slit slider
                              %li
                                %a{:href => "index-alt3.html"} Parallax slider
                      %li.dropdown
                        %a{:href => "#"}
                          Pages
                          %i.icon-angle-down
                        %ul.dropdown-menu
                          %li
                            %a{:href => "about.html"} About us
                          %li
                            %a{:href => "pricingbox.html"} Pricing boxes
                          %li
                            %a{:href => "testimonials.html"} Testimonials
                          %li
                            %a{:href => "404.html"} 404
                      %li.dropdown
                        %a{:href => "#"}
                          Portfolio
                          %i.icon-angle-down
                        %ul.dropdown-menu
                          %li
                            %a{:href => "portfolio-2cols.html"} Portfolio 2 columns
                          %li
                            %a{:href => "portfolio-3cols.html"} Portfolio 3 columns
                          %li
                            %a{:href => "portfolio-4cols.html"} Portfolio 4 columns
                          %li
                            %a{:href => "portfolio-detail.html"} Portfolio detail
                      %li.dropdown
                        %a{:href => "#"}
                          Blog
                          %i.icon-angle-down
                        %ul.dropdown-menu
                          %li
                            %a{:href => "blog-left-sidebar.html"} Blog left sidebar
                          %li
                            %a{:href => "blog-right-sidebar.html"} Blog right sidebar
                          %li
                            %a{:href => "post-left-sidebar.html"} Post left sidebar
                          %li
                            %a{:href => "post-right-sidebar.html"} Post right sidebar
                      %li
                        %a{:href => "contact.html"} Contact
                / end navigation
      / end header
      %section#featured
        / start slider
        / Slider
        #nivo-slider
          .nivo-slider
            / Slide #1 image
            %img{:alt => "", :src => "img/slides/nivo/bg-1.jpg", :title => "#caption-1"}/
            / Slide #2 image
            %img{:alt => "", :src => "img/slides/nivo/bg-2.jpg", :title => "#caption-2"}/
            / Slide #3 image
            %img{:alt => "", :src => "img/slides/nivo/bg-3.jpg", :title => "#caption-3"}/
          .container
            .row
              .span12
                / Slide #1 caption
                #caption-1.nivo-caption
                  %div
                    %h2
                      Awesome
                      %strong features
                    %p
                      Lorem ipsum dolor sit amet nsectetuer nec Vivamus. Curabitu laoreet amet eget. Viurab oremd ellentesque ameteget. Lorem ipsum dolor sit amet nsectetuer nec vivamus.
                    %a.btn.btn-theme{:href => "#"} Read More
                / Slide #2 caption
                #caption-2.nivo-caption
                  %div
                    %h2
                      Fully
                      %strong responsive
                    %p
                      Lorem ipsum dolor sit amet nsectetuer nec Vivamus. Curabitu laoreet amet eget. Viurab oremd ellentesque ameteget. Lorem ipsum dolor sit amet nsectetuer nec vivamus.
                    %a.btn.btn-theme{:href => "#"} Read More
                / Slide #3 caption
                #caption-3.nivo-caption
                  %div
                    %h2
                      Very
                      %strong customizable
                    %p
                      Lorem ipsum dolor sit amet nsectetuer nec Vivamus. Curabitu laoreet amet eget. Viurab oremd ellentesque ameteget. Lorem ipsum dolor sit amet nsectetuer nec vivamus.
                    %a.btn.btn-theme{:href => "#"} Read More
        / end slider
      %section.callaction
        .container
          .row
            .span12
              .big-cta
                .cta-text
                  %h3
                    We've created more than
                    %span.highlight
                      %strong 5000 websites
                    this year!
                .cta.floatright
                  %a.btn.btn-large.btn-theme.btn-rounded{:href => "#"} Request a quote
      %section#content
        .container
          .row
            .span12
              .row
                .span3
                  .box.aligncenter
                    .aligncenter.icon
                      %i.icon-briefcase.icon-circled.icon-64.active
                    .text
                      %h6 Corporate business
                      %p
                        Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                      %a{:href => "#"} Learn more
                .span3
                  .box.aligncenter
                    .aligncenter.icon
                      %i.icon-desktop.icon-circled.icon-64.active
                    .text
                      %h6 Responsive theme
                      %p
                        Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                      %a{:href => "#"} Learn more
                .span3
                  .box.aligncenter
                    .aligncenter.icon
                      %i.icon-beaker.icon-circled.icon-64.active
                    .text
                      %h6 Coded carefully
                      %p
                        Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                      %a{:href => "#"} Learn more
                .span3
                  .box.aligncenter
                    .aligncenter.icon
                      %i.icon-coffee.icon-circled.icon-64.active
                    .text
                      %h6 Sit and enjoy
                      %p
                        Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                      %a{:href => "#"} Learn more
          / divider
          .row
            .span12
              .solidline
          / end divider
          / Portfolio Projects
          .row
            .span12
              %h4.heading
                Some of recent
                %strong works
              .row
                %section#projects
                  %ul#thumbs.portfolio
                    / Item Project and Filter Name
                    %li.item-thumbs.span3.design{"data-id" => "id-0", "data-type" => "web"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "img/works/full/image-01-full.jpg", :title => "The City"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.", :src => "img/works/thumbs/image-01.jpg"}/
                    / End Item Project
                    / Item Project and Filter Name
                    %li.item-thumbs.span3.design{"data-id" => "id-1", "data-type" => "icon"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "img/works/full/image-02-full.jpg", :title => "The Office"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.", :src => "img/works/thumbs/image-02.jpg"}/
                    / End Item Project
                    / Item Project and Filter Name
                    %li.item-thumbs.span3.photography{"data-id" => "id-2", "data-type" => "illustrator"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "img/works/full/image-03-full.jpg", :title => "The Mountains"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.", :src => "img/works/thumbs/image-03.jpg"}/
                    / End Item Project
                    / Item Project and Filter Name
                    %li.item-thumbs.span3.photography{"data-id" => "id-2", "data-type" => "illustrator"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "img/works/full/image-04-full.jpg", :title => "The Mountains"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.", :src => "img/works/thumbs/image-04.jpg"}/
                    / End Item Project
                    / Item Project and Filter Name
                    %li.item-thumbs.span3.photography{"data-id" => "id-4", "data-type" => "web"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "img/works/full/image-05-full.jpg", :title => "The Sea"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.", :src => "img/works/thumbs/image-05.jpg"}/
                    / End Item Project
                    / Item Project and Filter Name
                    %li.item-thumbs.span3.photography{"data-id" => "id-5", "data-type" => "icon"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "img/works/full/image-06-full.jpg", :title => "Clouds"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.", :src => "img/works/thumbs/image-06.jpg"}/
                    / End Item Project
                    / Item Project and Filter Name
                    %li.item-thumbs.span3.photography{"data-id" => "id-2", "data-type" => "illustrator"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "img/works/full/image-07-full.jpg", :title => "The Mountains"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.", :src => "img/works/thumbs/image-07.jpg"}/
                    / End Item Project
                    / Item Project and Filter Name
                    %li.item-thumbs.span3.design{"data-id" => "id-0", "data-type" => "web"}
                      / Fancybox - Gallery Enabled - Title - Full Image
                      %a.hover-wrap.fancybox{"data-fancybox-group" => "gallery", :href => "img/works/full/image-08-full.jpg", :title => "The Dark"}
                        %span.overlay-img
                        %span.overlay-img-thumb.font-icon-plus
                      / Thumb Image and Description
                      %img{:alt => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.", :src => "img/works/thumbs/image-08.jpg"}/
                    / End Item Project
          / End Portfolio Projects
          / divider
          .row
            .span12
              .solidline
          / end divider
          .row
            .span12
              %h4
                Very satisfied
                %strong clients
              %ul#mycarousel.jcarousel-skin-tango.recent-jcarousel.clients
                %li
                  %a{:href => "#"}
                    %img.client-logo{:alt => "", :src => "img/dummies/clients/client1.png"}/
                %li
                  %a{:href => "#"}
                    %img.client-logo{:alt => "", :src => "img/dummies/clients/client2.png"}/
                %li
                  %a{:href => "#"}
                    %img.client-logo{:alt => "", :src => "img/dummies/clients/client3.png"}/
                %li
                  %a{:href => "#"}
                    %img.client-logo{:alt => "", :src => "img/dummies/clients/client4.png"}/
                %li
                  %a{:href => "#"}
                    %img.client-logo{:alt => "", :src => "img/dummies/clients/client5.png"}/
                %li
                  %a{:href => "#"}
                    %img.client-logo{:alt => "", :src => "img/dummies/clients/client6.png"}/
                %li
                  %a{:href => "#"}
                    %img.client-logo{:alt => "", :src => "img/dummies/clients/client1.png"}/
                %li
                  %a{:href => "#"}
                    %img.client-logo{:alt => "", :src => "img/dummies/clients/client2.png"}/
                %li
                  %a{:href => "#"}
                    %img.client-logo{:alt => "", :src => "img/dummies/clients/client3.png"}/
                %li
                  %a{:href => "#"}
                    %img.client-logo{:alt => "", :src => "img/dummies/clients/client4.png"}/
                %li
                  %a{:href => "#"}
                    %img.client-logo{:alt => "", :src => "img/dummies/clients/client5.png"}/
                %li
                  %a{:href => "#"}
                    %img.client-logo{:alt => "", :src => "img/dummies/clients/client6.png"}/
      %section#bottom
        .container
          .row
            .span12
              .aligncenter
                #twitter-wrapper
                  #twitter
      %footer
        .container
          .row
            .span3
              .widget
                %h5.widgetheading Browse pages
                %ul.link-list
                  %li
                    %a{:href => "#"} About our company
                  %li
                    %a{:href => "#"} Our services
                  %li
                    %a{:href => "#"} Meet our team
                  %li
                    %a{:href => "#"} Explore our portfolio
                  %li
                    %a{:href => "#"} Get in touch with us
            .span3
              .widget
                %h5.widgetheading Important stuff
                %ul.link-list
                  %li
                    %a{:href => "#"} Press release
                  %li
                    %a{:href => "#"} Terms and conditions
                  %li
                    %a{:href => "#"} Privacy policy
                  %li
                    %a{:href => "#"} Career center
                  %li
                    %a{:href => "#"} Flattern forum
            .span3
              .widget
                %h5.widgetheading Flickr photostream
                .flickr_badge
                  %script{:src => "http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03", :type => "text/javascript"}
                .clear
            .span3
              .widget
                %h5.widgetheading Get in touch with us
                %address
                  %strong Flattern studio, Pte Ltd
                  %br/
                  Springville center X264, Park Ave S.01
                  %br/
                  Semarang 16425 Indonesia
                %p
                  %i.icon-phone
                  (123) 456-7890 - (123) 555-7891
                  %br/
                  %i.icon-envelope-alt
                  email@domainname.com
        #sub-footer
          .container
            .row
              .span6
                .copyright
                  %p
                    %span &copy; Flattern 2013 All right reserved. Designed by
                    %a{:href => "http://iweb-studio.com", :target => "_blank"} iweb-studio
              .span6
                %ul.social-network
                  %li
                    %a{"data-placement" => "bottom", :href => "#", :title => "Facebook"}
                      %i.icon-facebook.icon-square
                  %li
                    %a{"data-placement" => "bottom", :href => "#", :title => "Twitter"}
                      %i.icon-twitter.icon-square
                  %li
                    %a{"data-placement" => "bottom", :href => "#", :title => "Linkedin"}
                      %i.icon-linkedin.icon-square
                  %li
                    %a{"data-placement" => "bottom", :href => "#", :title => "Pinterest"}
                      %i.icon-pinterest.icon-square
                  %li
                    %a{"data-placement" => "bottom", :href => "#", :title => "Google plus"}
                      %i.icon-google-plus.icon-square
    %a.scrollup{:href => "#"}
      %i.icon-chevron-up.icon-square.icon-32.active
    /
      javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{:src => "js/jquery.js"}
    %script{:src => "js/jquery.easing.1.3.js"}
    %script{:src => "js/bootstrap.js"}
    %script{:src => "js/jcarousel/jquery.jcarousel.min.js"}
    %script{:src => "js/jquery.fancybox.pack.js"}
    %script{:src => "js/jquery.fancybox-media.js"}
    %script{:src => "js/google-code-prettify/prettify.js"}
    %script{:src => "js/portfolio/jquery.quicksand.js"}
    %script{:src => "js/portfolio/setting.js"}
    %script{:src => "js/tweet/jquery.tweet.js"}
    %script{:src => "js/jquery.flexslider.js"}
    %script{:src => "js/jquery.nivo.slider.js"}
    %script{:src => "js/modernizr.custom.79639.js"}
    %script{:src => "js/jquery.ba-cond.min.js"}
    %script{:src => "js/jquery.slitslider.js"}
    %script{:src => "js/animate.js"}
    %script{:src => "js/custom.js"}
